<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="practice.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <a :href="aTag">
            <img class="green_img" :src="imageSource" :alt="imageAlt" />
          </a>
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <p>{{ description }}</p>
          <p v-if="inStock">in stock</p>
          <p v-else :class="{ outOfStock: !inStock }">out of stock</p>
          <p v-show="show">show p tag</p>

          <!-- <span v-if>On Sale!</span>
          <span v-else>End Of Sale!</span> -->

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <!-- <div v-for="variant in variants" :key="variant.variantId">
            <p @mouseover="updatePtoduct(variant.variantImage)">
              {{ variant.variantColor }}
            </p>
          </div> -->

          <div
            v-for="variant in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{ backgroundColor: variant.variantColor }"
            @mouseover="updatePtoduct(variant.variantImage)"></div>

          <ul>
            <li v-for="size in sizes" :key="size.sizeId">
              {{ size.sizeNumber }}
            </li>
          </ul>

          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{ disabledButton: !inStock }">
            Add to cart
          </button>
          <button v-on:click="removeFromCart">remove from cart</button>

          <div class="cart">
            <p>cart({{cart}})</p>
          </div>
        </div>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
